.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111827;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}
