.auth {
  max-width: 400px;
  margin: 4rem auto;
  background: #020617;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

.auth input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
}

.auth button {
  width: 100%;
  padding: 0.7rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}
