.services {
  padding: 80px;
  background: #020617;
  color: white;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

.service-card {
  background: #020617;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h3 {
  padding: 15px;
  text-align: center;
}

.service-card:hover {
  transform: translateY(-6px);
  border-color: #2563eb;
}
