/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* نحي ألوان VITE الافتراضية */
:root {
  color-scheme: dark;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #0f172a; /* dark clean */
  color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
